body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img{
  display: block;
  margin: 0 auto;
}

a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: aqua;
}
p > a{
  padding: 0%;
  background-color: transparent;
}

#details div{
  background-color: red
}

figcaption{
  text-align: center;
  font-size: small;
}

#featured-property p {
  width: 900px; /* Set the width of the paragraphs */
  margin: 20px auto;
  text-align: center; /* Add vertical spacing and center the paragraphs horizontally */
}

div{
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 10px; 
  text-align: center;
}
